.navbar {
    display: flex;
    font-size: 24px;
    background-color: rgb(25, 25, 25); 
    height: 60px;
    align-items: center;
    border-bottom: 3px solid var(--color1);
    justify-content: space-between;
    width: 100%;
    color: white;
}

.sticky {   
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
   }

.navbar-left {
    padding-left: 20px;
    color: var(--color1)
}

.navbar-right {
    display: flex;
}

.navbar ul {
    display: flex;
}

.nav-item {
    padding: 0px 20px;
    margin: 20px 20px;
    text-decoration: none;
    color: var(--color1);
}

.nav-item:hover {
    color: var(--color3);
    font-weight: 500;
    border-bottom: 3px solid var(--color3);
    transition-property: color border-bottom;
    transition-duration: .6s;
    cursor: pointer;
} 

@media only screen and (max-width: 550px){

.navbar ul {
    display: flex;
    border: dimgrey 3px solid;
}

.nav-item {
    padding: 15px;
    }

.nav-item {
    color: ;
}
}


