.navbar {
    display: flex;
    font-size: 24px;
    background-color: rgb(25, 25, 25); 
    height: 60px;
    align-items: center;
    border-bottom: 3px solid var(--color1);
    justify-content: space-between;
    width: 100%;
    color: white;
}

.sticky {   
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
   }

.navbar-left {
    padding-left: var(--padding-left);
    color: var(--color1)
}

.navbar-right {
    display: flex;
}

.navbar ul {
    display: flex;
}

.nav-item {
    padding: 0px 20px;
    margin: 0 0px;
    text-decoration: none;
    color: var(--color1);
}

.nav-item:hover {
    color: var(--color3);
    font-weight: 500;
    text-decoration: underline;
} 
 
 .nav-item > .active {
    color:red !important;
    font-size: 50px;
    border-bottom: 10px solid red;
}
 

/* Tablet */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
    }
  }

/* Mobile */
@media(max-width: 576px) {
    .navbar {
        flex-direction: column;
    }
    .navbar-right {
        display: none;
        flex-direction: column;
    }
}
