#home {

}

.center {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: var(--padding-left);
  }

.center p {
  font-size: 35px;
  color: var(--color4);
}

span {
      font-size: 55px;
      font-weight: 600;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(4, 255, 242);
  }

  