.center {
    display: flex;
    margin: 20px;
    align-items: center;
    height: 90vh;  
    width: 100%;
  }

.center p {
  font-size: 35px;
}

span {
      font-size: 55px;
      font-weight: 600;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: var(--primary-color);
  }

  