#projects {
    background: var(--primary-color);
}

.projects-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 0em;
    grid-column-gap: 2em;
}

@media (max-width: 760px) {
    .projects-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .projects-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
