.navbar {
    display: flex;
    font-size: 24px;
    /* background-color: black; */
    height: 60px;
    align-items: center;
    border-bottom: 6px solid purple;
    justify-content: space-between;
    width: 100%;
    color: white;
    opacity: .8;
}

.navbar-left {
    padding-left: 20px;
}

.navbar-right {
    display: flex;
}

.navbar ul {
    display: flex;
}

.nav-item {
    padding: 0px 20px;
    margin: 0 0px;
    text-decoration: none;
    color: white;
}

.nav-item:hover {
    color: yellow;
}

.active {
    color: yellow;
} 

/* Tablet */
@media(max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 120px;
        padding: 20px;
        
    }
  }

/* Mobile */
@media(max-width: 576px) {
    .navbar {
        background-color: tomato;
    }
}
