#about {
  background-color: rgb(146, 146, 146);
  height: 100vh;
  background: url('../assets/images/trumpet.jpg') no-repeat center center/cover; 
} 

#about-grid {
      display: grid;
      height: 90vh;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: .3fr 3fr .7fr;
      grid-template-areas: 
        "header header"
        "content1 content2"
        ". footer"
      ;
  }

#about-header {
      grid-area: header;
      color: var(--color3);
  }

#about-header h1 {
    float: right;
    padding: 40px;
}

#about-content1 {
  height: 300px;
}

#about-content2 p {
  line-height: 1.45;
  padding: .8rem;
  font-size: 22px;
}

#about-content2 {
  height: 300px;
}

#about-footer {
  background-color: rgba(100, 94, 100, .5);
  grid-area: footer;
  padding: var(--padding-left);
  padding-right: 15%;
  float: right;
}

table {
    height: 100%; 
}

table td {
  padding-left: 10px;
}

table td a {
  color: var(--color2);
}

table td a:hover {
  color: rgb(233, 230, 53);
} 

.about-table {
    width: 30%;
    font-size: var(--p-font-size);
    color: var(--color3);
    font-size: 25px;
} 


@media only screen and (max-width: 550px){
#about {
  padding-left: 15px;
} 

#about-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
        "header"
        "content1"
        "content2"
        "footer"
    ;
}
.about-table {
  padding-top: 10px;
  width: 30%;
  font-size: var(--p-font-size);
  color: var(--color3);
  font-size: 20px;
} 
}
  