
#about {
  background-color: rgb(146, 146, 146);
  height: 100vh;
  background: url('../assets/images/trumpet.jpg') no-repeat center center/cover; 
  width: 100%;
} 

#about-grid {
      display: grid;
      height: 100vh;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: .3fr 3fr 1fr;
      grid-template-areas: 
        "header header"
        "content1 content2"
        "footer footer"
      ;
  }

#about-header {
      grid-area: header;
      color: var(--color3);
  }

#about-header h1 {
    float: right;
    padding: 40px;
}

#about-content1 {
    background-color: silver;
    grid-area: content1;
  }

#about-content2 {
    background-color: tan;
    grid-area: content2;
  }

#about-footer {
    background-color: rgba(100, 94, 100, .5);
    grid-area: footer;
    padding: var(--padding-left);
    padding-right: 15%;
    padding-bottom: 65px;
  }

table {
    float: right;
    height: 100%; 
}

table td {
  padding-left: 10px;
}

table td a {
  color: var(--color2);
}

.about-table {
    width: 30%;
    font-size: var(--p-font-size);
    color: var(--color3);
    font-size: 25px;
} 

/* Mobile */
@media only screen and (max-width: 550px){
#about-grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
        "header"
        "content1"
        "content2"
        "footer"
    ;
}
}
  