#knowledge-container {
    background-color: rgb(146, 146, 146);
    border: orange 1px solid;
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 3fr;
    grid-template-areas:
    "header"
    "content"
    ; 
    width: 100%;
    height: 100vh;
}

#knowledge-header  {
    height: 60px;
    grid-area: header;
    color: var(--color4);
    padding: 0px;
    float: right;
}

.knowledge-grid {
    display: grid;
    grid-template-columns: repeat( 3, minmax(250px, 1fr) ); 
    grid-template-columns: auto auto auto;
    column-gap: 2em;
    grid-area: content;
    padding: 20px;
}

@media(max-width: 760px) {
    .knowledge-grid {
        display: grid;
        grid-template-columns: auto auto;
        width: 100vw;
    }
  }

  @media(max-width: 476px) {
    #knowledge-container {
        height: auto;
        overflow: visible;
        
    }

    .knowledge-grid {
        display: grid;
        grid-template-columns: auto ;
        width: 100vw;
    }
  }  