.card {
    background-color: orange;
    border-radius: 3px;
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px 10px 5px 10px;
}

a {
    text-decoration: none;
}

.card:hover {
    background-color: rgb(54, 54, 51); 
}

.card:hover a .card-body {
    color: purple;
}

.card-body {
    color: yellow;
}

.card-body p {
    line-height: 1.6;
}

.card p {
    font-size: var(--p-font-size);
}

.card-header {
    font-size: 35px;
}
 
