/* 
.info-card {
    color: white;
}

.info-card h1 {
    font-size: 25px;
    color: var(--primary-color);
}

.title {
    display: flex;
    align-items: center;
}

.title h1 {
    margin-left: 20px;
}

.title p {
    margin-top: 90px;
    padding-top: 90px;
    padding-bottom: 90px;
}

/* hr {
    position: relative;
    border:solid 1px black; 
    margin-right: 15%;
    bottom: 20px;
} 

.info-card li {
    font-size: var(--p-font-size);
    color: #FEF97C;
} */