.card {
    background-color: var(--color3);
    border-radius: 3px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    height: 300px;
    position: relative;
}

.card-header {
    font-size: 35px;
    text-align: center;
}

.header-line {
    height: 3px;
    width: 100%;
    background: red;
}

.card-body {
    position: relative;   
}

a {
    text-decoration: none;
}

.card:hover {
    background-color: rgb(235, 235, 223); 
}

.card:hover a .card-body {
    color: purple;
}



.card-body p {
    line-height: 1.6;
}

.card p {
    font-size: var(--p-font-size);
}


.links {
   position: absolute;
   bottom: 0;
}

.links p {
margin: 5px;
}
 
