.card {
    background-color: var(--color2);
    border-radius: 3px;
    height: auto;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    display: grid;
    height: 300px;
}

.card-header {
    font-size: 35px;
    text-align: center;
}

a {
    text-decoration: none;
}

.card:hover {
    background-color: rgb(235, 235, 223); 
}

.card:hover a .card-body {
    color: purple;
}

.card-body {
    color: yellow;
    position: relative;
    
}

.card-body p {
    line-height: 1.6;
}

.card p {
    font-size: var(--p-font-size);
}


.links {
   align-self: end;
}

.links p {
margin: 5px;
}
 
